.search {

  &__form-wrapper {
    position: relative;
    margin-bottom: 30px;
  }

  &__image {
    padding-top: 30px;
    text-align: center;
  }

  &__suggestions {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    border-radius: $brs;

    li {
      display: flex;
      align-items: center;
      list-style-type: none;
      padding: 15px 10px;
      background-color: $bg-top;
      cursor: pointer;

      &:hover {
        background-color: lighten($bg-top, 10%);
      }
    }
  }
}