// Colors
$primary: #FF5757;
$secondary: #BD55FC;
$bg-input: rgba(37, 29, 46, .5);
$border-color-input: rgba(255, 255, 255, .5);
$bg-top: #2A1F44;
$bg-middle: #35202E;
$bg-bottom: #1F1B2D;
$text-color: white;
$text-color-secondary: rgba(255, 255, 255, .7);
$bg-card: rgba(90, 47, 96, .5);
$border-color-card: rgba(255, 255, 255, .1);

// Border radius
$brs: 5px;

// Transition
$transition-bg: background-color .3s ease-in-out;

// Breakepoints
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;
$desktop-md: 1366px;


